@font-face {
  font-family: "Barlow Condensed";
  src: url("../public/Barlow-Condensed-ExtraLight/barlowcondensed/BarlowCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.App {
  background-color: #949496;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Barlow Condensed", Times, serif;;
}

.Box {
  background-color: #CCCED0;
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0px 20px 25px 20px gray;
  display: grid;
  grid-template-columns: [first] 40% [second] 60%;
  justify-items: center;
  align-items: center;
}

#hero-section {
  padding-left: 10px;
}
